.bz-board {
    font-size: 12px;
}

.bz-board-item {
    font-size: 12px;
    padding:5px;
    margin-top:5px;
    margin-bottom:5px;
    border:solid 1px #CCC;
}

.list-group-item {
    padding:5px;
    font-size:12px;
    margin:10px 0px;
}

.bz-item-id {
    float:right;
}

.bz-column {
    border-left:solid 1px #CCC;
}

.bz-item-desc {
    font-weight: bold;
}

.scroll {
  max-height:75vh;
  overflow:auto;
}
